# Virtual environment
venv/
env/
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Django secrets
*.env
.env
config/settings/local.py

# VS Code & PyCharm
.vscode/
.idea/

# Static & media files
staticfiles/
media/
